# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
.venv/

# IDE specific files
.vscode/
.idea/

# Local data and secrets
.env
error_log.txt
run_warcraftlogs_weekly.bat